@charset "UTF-8";

/* Указываем box sizing */
*,
*::before,
*::after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

* {
   font-family: "Oswald", sans-serif;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
   padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
   min-height: 100vh;
   scroll-behavior: smooth;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
   list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
   -webkit-text-decoration-skip: ink;
   text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
   max-width: 100%;
   display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
   margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
   font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
   * {
      -webkit-animation-duration: 0.01ms !important;
      animation-duration: 0.01ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
      -webkit-transition-duration: 0.01ms !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}

*body{
   font-family: 'Oswald', sans-serif;
}
.container{
   padding: 10px 60px;
}
.header{
   padding: 20px 60px;
   box-shadow: 0px 5px 20px #A2B1BD;
}
.navigation{
   display:flex;
   justify-content:space-around;
   align-items: center;
   
}
.navigation a{
   text-decoration: none;
}
.main-information{
   position: relative;
   padding: 100px 0px;
   display:flex;
   justify-content: space-between;
   align-items: center;
}
.avatar img{
   border-radius: 50px;
   height: 100%;
   max-height: 380px;
}
.about-me{
   z-index: 1;
   position: relative;
   top: 20px;
   right: 200px;
   width: 400px;
   transition: all 1s 0.1s ease-in-out;
   opacity: 0;
   color: black;
}
.about-me:hover{
   opacity: 1;
   right: 300px;
}
.laptop-bg{
   position: absolute;
   top: 100px;
   right: 80px;
}
.laptop-bg img{
   height: 100%;
   max-height: 500px;
}
.front-text{
   font-size: 2rem;
   z-index: 3;
   position: absolute;
   top: 150px;
   right: 350px;
}
.arrow-down{
   position: absolute;
   top: 200px;
   right: 520px;
}
.arrow-down img{
   height: 100%;
   max-height: 20px;
}